<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Insert title here</title>
</head>
<body>

<div style="width: 100%">
    <button style="width: 100px;" onclick="toWLBM()" >物料编码检查</button>
    <!--<button style="width: 100px;" onclick="">PDF文件</button>-->
    <!--<button style="width: 100px;" onclick=""></button>-->

</div>
        <script>
            function toWLBM() {
                window.location.href="/checkcode";
            }

        </script>
</body>
</html>